<h1><%= "#{@tournament_match.team_1.name} vs #{@tournament_match.team_2.name} " %></h1>
<p><%= "#{@tournament_match.team_1_score} || #{@tournament_match.team_2_score}" %></p>
<%#= link_to 'goal!', tournament_match_path(team_1.id, team_1_score: += 1),class:"button-wb", method: :patch do %>
