  <div class="my-2 text-center">
    <h1>Tournament Groups</h1>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <% @tournament_groups.each do |group| %>
      <div class="col-10">
        <div class="groups-card">
          <h5>Group</h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
