html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.main-container {
  // navbar height = 60px
  // footer height = 82px
  height: calc(100vh - 60px - 82px); /* will cover the 100% of viewport */
  overflow:scroll;
  display: block;
  position: relative;
  padding-bottom: 1rem; /* height of your footer */

  &.create-match {
    background-image: asset-url("FootballField.jpg");
    background-size: cover;
    background-position: center;
  }
}
footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
}
// .common-wrapper {
//   display: ;
// }
