<footer class="footer-basic">
<%# <div class="footer-background"></div> %>
    <div class="social">
      <a href="http://localhost:3000/"><i class="fas fa-home"></i></a>
      <a href="http://localhost:3000/matches"><i class="fas fa-futbol"></i></a>
      <a href="#"><i class="fas fa-plus"></i></a>
      <a href="#"><i class="fas fa-user-astronaut"></i></a>
    </div>
      <%# <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul> %>
</footer>
