<footer class="footer-basic">
<%# <div class="footer-background"></div> %>
    <div class="social">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to matches_path do %>
        <i class="fas fa-futbol"></i>
      <% end %>
      <%= link_to new_match_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
      <%= link_to user_profile_path(current_user) do %>
        <i class="fas fa-user-astronaut"></i>
      <% end %>

    </div>
      <%# <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul> %>
</footer>
