<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand text-light" do %>
    <%= image_tag 'kickofflogga.png' %>
  <% end %>
  <%= link_to creators_path do %>
    <i class="fas fa-trophy"></i>
  <% end %>
</div>
