<div class="banner">
  <%= image_tag "footballpitch.jpg" %>
    <div id="text">
      <h1>BALR</h1>
      <p>Start your footballing journey today</p>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center">

        <div class="match-card-hp">
          <h2><%= @matches.first.location %></h2>
          <p><%= @matches.first.start_at %></p>
            <div class="small-card-hp">
              <h2>spaces left</h2>
            </div>
        </div>

  </div>
</div>
