<div class="container">
  <div style="text-align: center "><h2>All Creators:</h2></div>
  <div class="row">
    <% @creators.each do |creator| %>
      <div class="col-10 offset-1">
        <%= link_to creator_path(creator), class: "d-block" do %>
          <div class="creator-card" style="background-color: black;">
            <h3 class="text-white"><%= creator.name %></h3>
            <p class="text-white"><%= creator.location %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
