<div class="container">
  <div style="text-align: center"><h4>All Creators:</h4></div>
  <div class="row">
    <% @creators.each do |creator| %>
      <div class="col-10 offset-1">
        <div class="match-card-hp"><%= creator.name %></div>
      </div>
    <% end %>
  </div>
</div>
