<div class="container">
  <div style="text-align: center"><h4>All Creators:</h4></div>
  <div class="row">
    <% @creators.each do |creator| %>
      <div class="col-10 offset-1">
        <%= link_to creator_path(creator), class: "d-block" do %>
          <div class="match-card-hp"><%= creator.name %></div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
