<div class="container">
  <div style="text-align: center "><h2>All Creators:</h2></div>
  <div class="row">
    <% @creators.each do |creator| %>
      <div class="col-10 offset-1">
        <div class="creator-card">
          <%= link_to creator_path(creator), class: "d-block" do %>
              <h3><%= creator.name %></h3>
              <p><%= creator.location %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
