
<div class="container">
    <div class="row justify-content-center">
      <div class="col 4">
        <div class="create_match_card">
          <h1 class="header mb-4">Create creator</h1>
           <% simple_form_for @creator do |f| %>
            <h6 class= "letter_color">Creators name</h6>
              <%= f.input :name, input_html: { class: "bg-yellow" }, label: false %>
              <h6 class="letter_color">Club banner</h6>
              <%= f.input :location %>
          <div class="form-actions">
            <%= f.button :submit, "Create Club", class:"button-bb w-100 py-2 my-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
