<div class="container-match">
  <h1 class="header">Upcoming Matches</h1>
    <% @matches.each do |match| %>
      <div class="match-card">
        <div class="location">
          <p><i class="fas fa-map-marker-alt"></i></p>
          <p><%= match.location %></p>
        </div>
        <div class="time-spots-card pt-2">
          <div class="">
            <p><i class="far fa-clock"></i></p>
            <%= match.start_at.strftime("%H:%M") %>
          </div>
          <div>
            <p><i class="fas fa-users"></i></p>
            <p><%= match.match_users.count%>/<%= match.max_spots %></p>
          </div>
        </div>
      </div>
    <% end %>
</div>
