<div class="container-match">
  <div class="header-card">
    <h1>Upcoming Matches</h1>
  </div>
      <% @matches_by_date.each do |date, matches| %>
        <% if date.today? %>
          <h6 class="sub-header">Today</h6>
        <% else %>
          <h6 class="sub-header"><%= date.strftime("%A, %d. %B") %></h6>
        <% end %>
        <% matches.each do |match| %>
          <%= link_to match_path(match), class: "d-block" do %>
            <%= render "match", match: match %>
          <% end %>
        <% end %>
      <% end %>
</div>
