.button-wb {
  background-color: transparent;
  border: 1px solid #1a4afb;
  color: #1A4AFB;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 12px;
}

.button-wb:hover {
  background-color: #1a4afb;
  color: white;
  transition-duration: 0.5s;
}

.button-bb {
  background-color: transparent;
  border: 1px solid #6FF6DC;
  color: #6FF6DC;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 12px;
  
}

.button-bb:hover {
  background-color: #6FF6DC;
  color: black;
  transition-duration: 0.5s;
}
