//card-hp = card-homepage-----------------------
//white
.match-card-hp {
 width: 359px;
 height: 200px;
 border-radius: 10px;
 justify-content: center;
 text-align: center;
 background-color: blue;
 margin-top: 15px;
 color: white;
 margin-right: 15px;
 margin-left: 15px;
 margin-bottom: 15px;
 padding-top: 10px;
}

.small-card-hp {
  width: 200px;
  height: 100px;
  background-color: $white;
  border-radius: 4px;
  margin-left: 72px;
  color: #009ffd;
  padding-top: 30px;
}

.header-card {
  height: 50px;
  width: 100%;
  background-color: $blue;
  color: $white;
  text-align: center;
  margin-top: 5px;
  border-radius: 4px;
}

.card-hp-wb-clickable {
  height: 350px;
  width: 600px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .2s;
  justify-content: center;
  text-align: center;
}

.card-hp-wb-clickable:hover {
  transform: scale(1.01);
}

//blue
.card-hp-bb-clickable {
  height: 150px;
  width: 300px;
  background-color: #121409;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform .2s;
  justify-content: center;
  text-align: center;
  color: $white;
  border-radius: 4px;
}

// .card-hp-bb-clickable:hover {
//   transform: scale(1.01);
// }


//non clickable
//white
.card-hp-wb {
  height: 350px;
  width: 600px;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  text-align: center;
}

//blue
.card-hp-bb {
  height: 350px;
  width: 600px;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.match-card {
//  width: 359px;
 height: 156px;
 border-radius: 10px;
 justify-content: center;
 text-align: center;
 background-color: #14279B;
 margin-top: 15px;
 color: white;
 margin-right: 15px;
 margin-left: 15px;
}

.match-card-show {
 height: auto;
 border-radius: 10px;
 justify-content: center;
 text-align: center;
 background-color: #14279B;
 margin-top: 15px;
 color: white;
 margin-right: 15px;
 margin-left: 15px;

 .match-card-A {
  border-right: 1px solid grey;
  text-align: left;
  padding-top: 15px;
  padding-right: 20px;
 }
}
.container-match {
  text-align: center;
  background-color: #000D6B;
  padding-bottom: 15px;
}

.header {
  font-size: 2.5rem;
  color: yellow;
  font-family: Roboto;
  text-align: center;
  font-weight: bolder;
}

.location {
  border-bottom: 1px solid grey;
  padding-top: 1px;

  div {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 1rem auto;

    .location-icon {
      flex: 20%;
    }
    .location-text {
      text-align: left;
    }
  }
}

.time-spots-card {
  display: flex;


  & > div {
    flex: 50% 0 0;
  }

  & > div:first-child {
    border-right: 1px solid grey;
  }
}

.sub-header {
  font-size: 1.5rem;
  color: yellow;
  padding-top: 20px;
}
