.navbar-lewagon {
  justify-content: space-between;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: $white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-futbol:before {
  border-radius: 30px;
}

.navbar-light .navbar-brand{
  color: $white
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $light-blue;
}
