.navbar-lewagon {
  justify-content: space-between;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #122638 74%);
  // background-image: url(second.png);
  // backdrop-filter: blur(20px);
  // background-color: #2234ae;
  // background-image: url(try3.png);
  // background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
  color: $white;
  height: 60px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-futbol:before {
  border-radius: 30px;
}

.navbar-light .navbar-brand{
  color:white
  space-between
}
