.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  color:white;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fa-futbol:before {
  border-radius: 30px;
}

.navbar-light .navbar-brand{
  color:white
  space-between
}
